<a class="font" href="/warehouse/po">Return to Purchase Orders</a>


<div class="row">
  <h1 class="viewheader">{{pageHeader}} {{item.id}}</h1>
</div>

<div class="rowbody">
  <div class="row">
    <p class="viewproject"><strong>Status</strong>: <span class="delivered">{{item.status}}</span></p>
  </div>
  <div class="row">
    <p class="viewproject"><strong>Supplier</strong>: {{item.supplier}}</p>
  </div>
  <div class="row">
    <p class="viewproject"><strong>Date Created</strong>: {{item.dateCreated}}</p>
  </div>
  <div class="row">
    <p class="viewproject"><strong>Requested By</strong>: {{item.orderedBy}}</p>
  </div>



<!-- Missing from screens update-->
  <div class="row filter materialsrow textright">
   <button type="button" class="btn btn-left  btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Update Received Quantity</button>


  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="MyModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content modal-unit">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Material</h5>
      </div>
      <div class="modal-body">
     <form action="/warehouse/postUpdate"  method="POST" id="poupdate-form">
        <div class="settings">
          <label for="startdate" class="col-form-label">Received Quantity</label>
          <label for="template" class="col-form-label">Date</label>
        

          <input type="text" id="startdate" name="startdate" required>
         <input class="date-input" type="date" name="projectdate" required>
          <input type="text" id="startdate" name="startdate" required>
          <input class="date-input" type="date" name="projectdate" required>
          <input type="text" id="startdate" name="startdate" required>
          <input class="date-input" type="date" name="projectdate" required>
          <input type="text" id="startdate" name="startdate" required>
         <input class="date-input" type="date" name="projectdate" required>
        </div>    
     <div class="modal-footer">
        <button type="button" class="btn btn-transparent" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-save">Save</button>
           </form>
    </div>
     </div>
   </div>
 </div>
  </div>




  </div>

  <div class="fixed ">
    {{> table tableColumns=columns tableData=data}}
  </div>

</div>

