<a href="/warehouse/requisition">Return to Requisitions List</a>
<div class="row">
  <form action="/warehouse/postEditRequisition" method="POST" id="newpostatus-form">
    <div class="row">
      <h1 class="viewheader">{{pageHeader}} {{item.id}} 
          {{#if unfulfillable}}
            <span class="badge badge-pill badge-danger">unfulfillable</span>
          {{/if}}
        </h1>
      <br/>
      <br/>
      <a class="btn btn-primary" href="/warehouse/requisition/approve/{{item.id}}">Approve
        Requisition Form</a>
      <a class="btn btn-primary" href="/warehouse/requisition/deny/{{item.id}}">Deny
        Requisition Form</a>
      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="MyModal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content fix">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Requisition Form</h5>
            </div>
            <div class="modal-body">

              <!-- post modal employee-->

              <div class="settings">
                <label for="status" class="col-form-label">Status</label>
                <select class="unit" id="status" name="status" required>
                  <option disabled selected value></option>
                  <option>Approved</option>
                  <option>Pushback</option>
                </select>
              </div>
              <div class="modal-footer">
                <div class="row">
                  <button type="button" class="btn btn-transparent" data-dismiss="modal">Cancel</button>
                  <button type="submit" class="btn btn-save">Save</button>
                </div>

              </div>

            </div>

          </div>
        </div>
      </div>
  </form>
</div>


<div class="row">

</div>
<div class="rowbody">
  <div class="row">

    <!-- get from db-->

    <p class="viewproject2"><strong>Requisition Date</strong>{{dateCreated}}</p>
  </div>

  <div class="fixed">
    {{> table tableColumns=columns tableData=data}}
  </div>